<html lang="en">
  <head>
    <title>Mural Error</title>
    <meta name="viewport" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="author" content="Andrew Nathan" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="/static/js/htmx.min.js"></script>
  </head>
  <body
    class="m-4 flex-col bg-paris-white-200 text-scarpa-flow-600 h-full justify-center items-center text-xl font-extrabold flex space-x-4"
  >
    <div>Error sorry :/</div>
    <div class="flex space-x-2 items-center">
      <a>Blame Andrew</a>
    </div>
  </body>
</html>
