{{ define "mural" }}
  <html lang="en-US">
    <head>
      <title>Mural</title>
      <link href="/static/styles.css?{{ getDate }}" rel="stylesheet" />
      <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
      <meta name="author" content="Andrew Nathan" />
      <meta name="title" content="Mural" />
      <meta
        name="description"
        content="Mural is a daily puzzle game where you have to guess a movie poster by flipping over tiles."
      />
      <meta
        name="keywords"
        content="mural, wordle, nytimesgames, nytimes, puzzle, daily, game, puzzles, games, worldle, globle, movie, movieposters, cenophile, cinephile"
      />
      <meta name="robots" content="index, follow" />

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="language" content="English" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />

      <!-- HTMX -->
      <script src="/static/js/htmx.min.js"></script>

      <!-- Chart Stuff -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

      <!-- Analytics -->
      <script
        defer
        data-domain="mural.andrewnathan.net"
        src="https://plausible.io/js/script.js"
      ></script>
    </head>

    <body
      id="body"
      class="m-8 bg-desert-sand-200 text-river-bed-600 font-extrabold flex flex-col items-center"
    >
      <div class="flex flex-col items-center justify-center">
        <!-- Content -->
        <div class="flex flex-col items-center space-y-4">
          <!-- Header -->
          <div class="flex flex-col space-y-4 w-full">
            <div class="text-5xl flex space-x-2 items-center">
              <div>Mural #{{ .Game.GameKey }}</div>
              <div
                id="game-version"
                class="font-semibold w-min h-min text-gray-600 text-xs border-2 px-1 border-river-bed-700 rounded-lg"
              >
                {{ .Version }}
              </div>
            </div>
            <div class="flex justify-between">
              <div class="flex flex-col space-y-1 items-start">
                <div id="game-theme" class="text-contessa-500 text-4xl">
                  {{ getDecadeString .Game.Theme }}
                </div>
                <div class="text-md">Today's Theme</div>
              </div>
              <div class="flex flex-col space-y-1 items-start">
                <div id="game-sessions" class="text-contessa-500 text-4xl">
                  {{ .NumberOfSessionsPlayed }}
                </div>
                <div class="text-md">
                  {{ getHaveString .NumberOfSessionsPlayed }} Played
                </div>
              </div>
            </div>

            <div class="flex flex-col space-y-1">
              <!-- Info Button -->
              <div class="w-full">
                {{ template "info-button" newInfoButton "Info" .Session }}
              </div>

              <!-- Stats Button -->
              <div class="w-full">
                {{ template "stats-button" newStatsButton "Stats" .Session }}
              </div>
            </div>

            <!-- Divider -->
            <div class="h-0.5 w-full rounded-full bg-river-bed-600"></div>

            <!-- Game Board -->
            <div class="text-3xl flex space-x-2 items-center flex-col">
              <div id="game-board">{{ template "game-board" . }}</div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
{{ end }}
