{{ define "mural" }}
  <html lang="en-US">
    <title>Mural</title>
    <link href="/static/styles.css?{{ getVersion }}" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="author" content="Andrew Nathan" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="/static/js/htmx.min.js"></script>
    <script>
      function copyToClipboard(text) {
        try {
          navigator.clipboard
            .readText(text)

          alert("copied to clipboard")
        } catch (e) {
          alert(`
            ${text}
          `)
        }


        if (!copied) {
          alert(`Copied this to clipboard: ${text}`)
        }
      }
    </script>
  </head>

  <body>
    <body
      id="body"
      class="m-8 bg-desert-sand-200 text-river-bed-600 font-extrabold flex flex-col items-center"
    >
      <div class="flex flex-col items-center justify-center">
        <!-- Content -->
        <div class="md:w-96 flex flex-col items-center space-y-4">
          <!-- Header -->
          <div class="text-5xl flex space-x-2 items-center">
            <div>Mural</div>
            <div class="font-semibold w-min h-min text-gray-600 text-xs border-2 px-1 border-river-bed-700 rounded-lg">{{getVersion}}</div>
          </div>

          <!-- Divider -->
          <div class="h-1 w-full rounded-full bg-river-bed-600"></div>
          <!-- Game Board -->
          <div class="text-3xl flex space-x-2 items-center flex-col">
            <div id="game-board">{{ template "game-board" . }}</div>
          </div>
        </div>
      </div>
    </body>
  </body>
{{ end }}
