{{ define "game-board" }}
  <div>
    <main
      class="text-river-bed-600 font-extrabold flex flex-col items-center justify-center space-y-4"
    >
      <!-- Actual Board -->
      <div
        class="flex flex-col border-2 border-river-bed-800 bg-cover"
        style="background-image: url('https://image.tmdb.org/t/p/w1280{{ .Game.CorrectAnswer.Movie.PosterPath }}');"
      >
        {{ range $rowIdx, $row := .Session.Board.Tiles }}
          <div class="flex text-sm">
            {{ range $tileIdx, $tile := $row }}
              {{ if $tile.Selected }}
                {{ template
                  "selected-tile" .
                }}
              {{ else if $tile.Flipped }}
                {{ template "flipped-tile"
                  .
                }}
              {{ else }}
                {{ if eq $.Session.SessionStatus "SESSION_OVER" }}
                  {{ template "default-tile" newSelectTile . true }}
                {{ else }}
                  {{ template "default-tile" newSelectTile . false }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    </main>
  </div>
{{ end }}
