{{ define "game-board" }}
  <div>
    <main
      class="text-river-bed-600 font-extrabold flex flex-col items-center justify-center space-y-4"
    >
      <!-- Score -->
      <div class="flex flex-col items-center space-y-2">
        <div class="flex space-x-2 text-4xl">
          <div>Score:</div>
          <div>
            {{ if eq .Session.SessionStatus "SESSION_LOST" }}
              ❎
            {{ else }}
              {{ .Session.CurrentScore }}
            {{ end }}
          </div>
        </div>
        <div>
          <div class="flex space-x-2 items-center">
            <div
              class="inline-flex rounded-full text-sm text-river-bed-700  font-bold"
              role="group"
            >
              <button
                type="button"
                {{ if eq .Session.SessionStatus "SESSION_INIT" }}
                  hx-put="/mural/set-hard-mode?mode=EASY_MODE"
                  hx-swap="innerHTML" hx-target="#game-board"
                {{ end }}
                class="
                px-4 py-1 rounded-s-full 
                border-r border-y-2 
                border-l-2 
                {{ if eq .User.GameType "EASY_MODE" }}
                  bg-desert-sand-300 border-river-bed-700
                {{ else }}
                  {{ if ne .Session.SessionStatus "SESSION_INIT" }}
                    border-desert-sand-300 text-desert-sand-300
                  {{ else }}
                    border-river-bed-700
                  {{ end }}
                {{ end }}
              "
              >
                Easy Mode
              </button>
              <button
                type="button"
                {{ if eq .Session.SessionStatus "SESSION_INIT" }}
                  hx-put="/mural/set-hard-mode?mode=REGULAR_MODE"
                  hx-swap="innerHTML" hx-target="#game-board"
                {{ end }}
                class="
                    px-4 py-1 rounded-e-full 
                    border-l border-y-2 border-r-2 border-river-bed-700
                {{ if eq .User.GameType "REGULAR_MODE" }}
                  bg-desert-sand-300 border-river-bed-700
                {{ else }}
                  {{ if ne .Session.SessionStatus "SESSION_INIT" }}
                    border-desert-sand-300 text-desert-sand-300
                  {{ else }}
                    border-river-bed-700
                  {{ end }}
                {{ end }}
                  "
              >
                Hard Mode
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Actual Board -->
      <div
        class="flex flex-col border-2 border-river-bed-800 bg-cover"
        style="background-image: url('https://image.tmdb.org/t/p/w1280{{ .Game.CorrectOption.Movie.PosterPath }}');"
      >
        {{ range $rowIdx, $row := .Session.Board }}
          <div class="flex text-sm">
            {{ range $tileIdx, $tile := $row }}
              {{ if and (ne $.Session.SessionStatus "SESSION_WON") (ne $.Session.SessionStatus "SESSION_LOST") }}
                {{ if eq $tile.SessionTileStatus "TILE_DEFAULT" }}
                  {{ template "default-tile" newSelectTile . false }}
                {{ else if eq $tile.SessionTileStatus "TILE_SELECTED" }}
                  {{ template "selected-tile" newSelectTile . false }}
                {{ else }}
                  {{ template "flipped-tile" newSelectTile . false }}
                {{ end }}
              {{ else }}
                {{ template "flipped-tile" newSelectTile . false }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      </div>
      <div class="w-full">
        {{ if and (ne $.Session.SessionStatus "SESSION_WON") (ne $.Session.SessionStatus "SESSION_LOST") }}
          {{ if ne (getSelectedTileFromBoard .Session.Board).TileKey 0 }}
            {{ template "flip-button" newFlipButton "Flip" false (getSelectedTileFromBoard .Session.Board) }}
          {{ else }}
            {{ template "flip-button" newFlipButton "Flip" true (getSelectedTileFromBoard .Session.Board) }}
          {{ end }}
        {{ end }}
      </div>

      {{ if ne .Session.SessionStatus "SESSION_INIT" }}
        {{ if eq .User.GameType "REGULAR_MODE" }}
          <div id="answer-input" class="w-full">
            {{ template "answer-input" . }}
          </div>
        {{ else }}
          <div id="answers" class="w-full">{{ template "answers" . }}</div>
        {{ end }}
      {{ end }}
    </main>
  </div>
{{ end }}
