{{ define "answer-options" }}
  <div
    class="
    z-10 
  bg-desert-sand-50
    border-2 
    border-river-bed-700 divide-y
    divide-desert-sand-100 rounded-lg shadow w-full 
    overflow-scroll no-scrollbar no-scrollbar::-webkit-scrollbar max-h-44"
  >
    <ul
      class="py-2 text-sm text-river-bed-700"
      aria-labelledby="dropdownDefaultButton"
    >
      {{ range . }}
        <li>
          <div
            hx-put="/mural/select-option?option={{ .MovieKey }}"
            hx-swap="innerHTML"
            hx-target="#answer-input"
            class="block px-4 py-2 hover:bg-desert-sand-100 hover:cursor-pointer"
          >
            {{ .Title }}
            {{ if ne (getReleaseYear .Movie) "" }}
              ({{ getReleaseYear .Movie }})
            {{ end }}
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
