{{ define "answer-options" }}
  <div
    class="z-10 bg-river-bed-50 border-4 border-river-bed-400 divide-y divide-river-bed-100 rounded-lg shadow w-full overflow-scroll no-scrollbar no-scrollbar::-webkit-scrollbar max-h-44"
  >
    <ul
      class="py-2 text-sm text-river-bed-500"
      aria-labelledby="dropdownDefaultButton"
    >
      {{ range . }}
        <li>
          <div
            hx-put="/mural/select-answer?answer={{ .Name }}"
            hx-swap="innerHTML"
            hx-target="#answer-input"
            class="block px-4 py-2 hover:bg-river-bed-100 hover:cursor-pointer"
          >
            {{ .Name }}
            {{ if ne (getReleaseYear .) "" }}({{ getReleaseYear . }}){{ end }}
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
