{{ define "answer-input" }}
  <div class="mt-2 flex flex-col space-y-4">
    <div class="h-1 w-full rounded-full bg-river-bed-600"></div>
    {{ if or (eq $.Session.SessionStatus "SESSION_WON") (eq $.Session.SessionStatus "SESSION_LOST") }}
      <div>
        {{ template "share-button" newShareButton "Share" false . }}
      </div>
    {{ end }}

    {{ if eq .Session.SessionStatus "SESSION_STARTED" }}
      <input
        id="search-query"
        name="search-query"
        hx-target="#answer-options"
        hx-post="/mural/search"
        hx-trigger="input changed delay:500ms, search"
        hx-swap="innerHTML"
        placeholder="Guess the movie."
        {{ if ne .Session.OptionKey 0 }}
          value="{{ .Session.Movie.Title }}"
        {{ end }}
        class="
            border-4 text-base rounded-lg 
            placeholder:text-base
            block w-full p-2.5 placeholder:text-river-bed-400
            bg-river-bed-50 border-river-bed-400 text-river-bed-900
            focus:ring-contessa-500 focus:border-river-bed-500
          "
      />
    {{ else }}
      {{ if ne .Session.OptionKey 0 }}
        {{ if eq .Game.CorrectOption.MovieKey .Session.MovieKey }}
          {{ template "correct-answer" newSelectItem .Game.CorrectOption true }}
        {{ else }}
          <div class="flex flex-col space-y-2">
            {{ template "correct-answer" newSelectItem .Game.CorrectOption true }}
            {{ template "wrong-answer" newSelectItem .Session.Option true }}
          </div>
        {{ end }}
      {{ else }}
        {{ template "wrong-answer" newSelectItem .Game.CorrectOption true }}
      {{ end }}
    {{ end }}


    <div id="answer-options"></div>

    {{ if and (ne $.Session.SessionStatus "SESSION_WON") (ne $.Session.SessionStatus "SESSION_LOST") }}
      {{ if ne .Session.OptionKey 0 }}
        <div>{{ template "submit-button" newButton "Submit" false }}</div>
        <div>{{ template "give-up-button" newButton "Give Up" false }}</div>
      {{ else }}
        <div>{{ template "submit-button" newButton "Submit" true }}</div>
        <div>{{ template "give-up-button" newButton "Give Up" false }}</div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
