{{ define "default-tile" }}
<div
  {{if
  and
  (not
  .Flipped)
  (not
  .Selected)}}
  hx-put="/mural/select-tile?i={{.I}}&j={{.J}}"
  hx-swap="innerHTML"
  hx-target="#game-board"
  {{end}}
  class="
          flex flex-col justify-center items-center w-16 h-16 
          border-2 border-river-bed-800
            hover:cursor-pointer
              {{if eq (mod .J 2) 0}}
                {{if eq (mod .I 2) 1}}
                  bg-contessa-500
                {{else}}
                  bg-contessa-400
                {{end}}
              {{else}}
                {{if eq (mod .I 2) 0}}
                  bg-contessa-500
                {{else}}
                  bg-contessa-400
                {{end}}
              {{end}}
          "
></div>
{{ end }}
