{{ define "default-tile" }}
<div
  {{
  if
  not
  .Disabled
  }}
  hx-put="/mural/select-tile?i={{.Tile.I}}&j={{.Tile.J}}"
  hx-swap="innerHTML"
  hx-target="#game-board"
  {{end}}
  class="
          flex flex-col justify-center items-center md:w-16 md:h-16 w-8 h-8 
          border-2 border-river-bed-800
          {{ if not .Disabled}}
            hover:cursor-pointer
          {{ end }}
              {{if eq (mod .Tile.J 2) 0}}
                {{if eq (mod .Tile.I 2) 1}}
                  bg-contessa-500
                {{else}}
                  bg-contessa-400
                {{end}}
              {{else}}
                {{if eq (mod .Tile.I 2) 0}}
                  bg-contessa-500
                {{else}}
                  bg-contessa-400
                {{end}}
              {{end}}
          "
></div>
{{ end }}
