<html lang="en">
  <head>
    <title>Mural Error</title>
    <meta name="viewport" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="author" content="Andrew Nathan" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="/static/js/htmx.min.js"></script>
  </head>
  <body
    id="body"
    class="m-8 bg-desert-sand-200 h-full justify-center text-river-bed-600 font-extrabold flex flex-col items-center"
  >
    <div class="flex flex-col space-y-2 items-center">
      <div>No User With That Key</div>
      <a href="/" class="flex space-x-2 underline text-contessa-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
          />
        </svg>
        <div>Back to Mural</div>
      </a>
    </div>
  </body>
</html>
