<html lang="en">
  <head>
    <title>Mural Error</title>
    <meta name="viewport" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="author" content="Andrew Nathan" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="/static/js/htmx.min.js"></script>
  </head>
  <body
    id="body"
    class="m-8 bg-desert-sand-200 h-full justify-center text-river-bed-600 font-extrabold flex flex-col items-center"
  >
    <div class="flex flex-col space-y-2 items-center">
      <a>Something isn't working...</a>
      <a>Blame Andrew :/</a>
    </div>
  </body>
</html>
