{{ define "create-link-button" }}
  <div
    id="share-button"
    hx-get="/mural/create-share-link?"
    hx-target="#create-link"
    hx-swap="outerHTML"
    class="
  w-full p-2 text-base text-desert-sand-100 rounded-md 
  flex justify-center items-center
    border-dingley-700 border-2
      hover:cursor-pointer bg-dingley-700 hover:bg-dingley-800
  "
  >
    {{ .Button.Text }}
  </div>
{{ end }}
