{{ define "flip-button" }}
  <div
    {{ if not .Button.Disabled }}
      hx-put="/mural/flip-tile?row_num={{ .SessionTile.RowNumber }}&col_num={{ .SessionTile.ColNumber }}"
      hx-swap="innerHTML" hx-target="#game-board"
    {{ end }}
    class="

    w-full p-2 text-base text-desert-sand-200 rounded-md 
    flex justify-center items-center

  {{ if .Button.Disabled }}
      bg-river-bed-400
    {{ else }}
      border-river-bed-600 border-2 hover:cursor-pointer bg-river-bed-600
      hover:bg-river-bed-700
    {{ end }}
  "
  >
    {{ .Button.Text }}
  </div>
{{ end }}
