{{ define "flip-button" }}
<div
  {{
  if
  .Tile
  }}
  hx-put="/mural/flip-tile?i={{.Tile.I}}&j={{.Tile.J}}"
  hx-swap="innerHTML"
  hx-target="#game-board"
  {{
  end
  }}
  class="
  w-full p-2 text-base text-river-bed-100 rounded-md 
  flex justify-center items-center
  {{if .Button.Disabled}}
    bg-river-bed-400 
  {{else}}
    hover:cursor-pointer
    bg-river-bed-600 
  {{ end }}
  "
>
  {{.Button.Text}}
</div>
{{ end }}
