{{ define "give-up-button" }}
  <div
    {{ if not .Disabled }}
      hx-put="/mural/submit?type=GIVE_UP" hx-swap="innerHTML"
      hx-target="#game-board"
    {{ end }}
    class="
  w-full p-1 text-base 
  text-desert-sand-200 
  rounded-md flex 
  justify-center items-center
  {{ if .Disabled }}
      bg-contessa-400
    {{ else }}
      hover:cursor-pointer bg-contessa-600
    {{ end }}
  "
  >
    {{ .Text }}
  </div>
{{ end }}
