{{ define "info-button" }}
  <div
    hx-get="/mural/open-info-dialog"
    hx-target="#body"
    hx-swap="beforeend"
    class="
  w-full p-2 text-base text-desert-sand-200 rounded-md 
  flex justify-center items-center
    border-river-bed-600 border-2
      hover:cursor-pointer bg-river-bed-600 hover:bg-river-bed-700
  "
  >
    {{ .Button.Text }}
  </div>
{{ end }}
