{{ define "share-button" }}
  <div
    {{ if not .Button.Disabled }}
      onclick="copyToClipboard('{{ .Session.SessionStats.Shareable }}')"
    {{ end }}

    class="
  w-full p-2 text-base 
  text-river-bed-100 
  rounded-md flex 
  justify-center items-center

  {{ if .Button.Disabled }}
      bg-dingley-400
    {{ else }}
      hover:cursor-pointer bg-dingley-700
    {{ end }}
"
  >
    <script>
      function copyToClipboard(text) {
        navigator.clipboard
          .writeText(text)
          .then(() => {
            htmx.ajax("GET", "/mural/copied-alert?alert=success", {
              target: "#body",
              swap: "beforeend",
            });
          })
          .catch(() => {
            htmx.ajax("GET", "/mural/copied-alert?alert=failure", {
              target: "#body",
              swap: "beforeend",
            });
          });
      }
    </script>
    {{ .Button.Text }}
  </div>
{{ end }}
