{{ define "share-button" }}
  <div
    {{ if not .Button.Disabled }}
      onclick="copyToClipboard('{{ getSharable .Game }}')"
    {{ end }}
    class="
  w-full p-2 text-base 
  text-river-bed-100 
  rounded-md flex 
  justify-center items-center

  {{ if .Button.Disabled }}
      bg-dingley-400
    {{ else }}
      hover:cursor-pointer bg-dingley-700
    {{ end }}
"
  >
    {{ .Button.Text }}
  </div>
{{ end }}
