{{ define "stats-button" }}
  <div
    hx-get="/mural/open-stats-dialog"
    hx-target="#body"
    hx-swap="beforeend"
    class="
  w-full p-2 text-base 
  text-river-bed-700 
  rounded-md flex 
  justify-center items-center
    hover:cursor-pointer bg-transparent
    hover:bg-desert-sand-300
    border-river-bed-700 border-2
  "
  >
    {{ .Button.Text }}
  </div>
{{ end }}
