{{ define "submit-button" }}
<div
  hx-put="/mural/submit"
  class="
  w-full p-2 text-base 
  text-river-bed-100 
  rounded-md flex 
  justify-center items-center
  {{if .Disabled}}
    bg-river-bed-400 
  {{else}}
    hover:cursor-pointer
    bg-river-bed-600 
  {{ end }}
  "
>
  {{.Text}}
</div>
{{ end }}
