{{ define "default-answer" }}

<div
  {{
  if
  not
  .Disabled
  }}
  hx-put="/mural/select-option?option={{.Option.Movie.MovieKey}}"
  hx-swap="innerHTML"
  hx-target="#answers"
  {{
  end
  }}
  class="
  text-lg w-full rounded-lg 
  py-2 px-4 
  bg-transparent text-river-bed-700 border-2 border-river-bed-700 
  
  {{if not .Disabled}}
    hover:cursor-pointer
  {{ end }}
  
  "
>
  {{.Option.Movie.Title}} {{ if ne (getReleaseYear .Option.Movie) ""}} ({{
  getReleaseYear .Option.Movie}}) {{end}}
</div>
{{end}}
