{{ define "answers" }}
<main class="m-4 text-river-bed-600 font-extrabold flex flex-col space-y-4">
  <div class="h-1 w-96 rounded-full bg-river-bed-600"></div>
  <!-- Answers -->
  <ul class="w-full flex flex-col space-y-1">
    {{
      range.Answers
    }}
    {{ if .Selected }}
    {{ template "selected-answer" . }}
    {{ else }}
    {{ template "default-answer" . }}
    {{
      end
    }}
    {{
      end
    }}
  </ul>

  <div>{{template "submit-button" newButton "Submit" false }}</div>
</main>
{{ end }}
