{{define "game_board"}}
<main class="m-4 text-river-bed-600 font-extrabold">
  <div
    class="flex flex-col border-2 border-river-bed-800 bg-cover"
    style="background-image: url('{{.Poster.URL}}');"
  >
    {{range $rowIdx, $row := .Board.Tiles}}
    <div class="flex text-sm">
      {{range $tileIdx, $tile := $row}}
      <div
        {{if
        not
        $tile.Flipped}}
        hx-put="/mural/flip?i={{$rowIdx}}&j={{$tileIdx}}"
        hx-swap="outerHTML"
        {{end}}
        class="
            flex flex-col justify-center items-center w-16 h-16 
            {{if not $tile.Flipped}}
              hover:cursor-pointer 
              {{if eq (mod $tileIdx 2) 0}}
                {{if eq (mod $rowIdx 2) 1}}
                  bg-contessa-500
                {{else}}
                  bg-contessa-400
                {{end}}
              {{else}}
                {{if eq (mod $rowIdx 2) 0}}
                  bg-contessa-500
                {{else}}
                  bg-contessa-400
                {{end}}
              {{end}}
              border-2 border-river-bed-800
            {{end}}
          "
      ></div>
      {{end}}
    </div>
    {{end}}
  </div>
</main>
{{end}}
