{{ define "share-button-dialog" }}
  <div
    hx-get="/mural/open-share-dialog"
    hx-target="#body"
    hx-swap="beforeend"
    onclick="window.scrollTo(0, 0)"
    class="
  w-full p-1 text-base text-desert-sand-200 rounded-md 
  flex justify-center items-center
  border-dingley-700 border-2
    hover:cursor-pointer bg-dingley-700 hover:bg-dingley-800
  "
  >
    {{ .Button.Text }}
  </div>
{{ end }}
